version: "3"
services:
  db:
    image: postgres:16
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=test
      - POSTGRES_USER=manish
      - POSTGRES_PASSWORD=manish123
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8080:8080
